<% if upcoming_tasks.empty?  %>
<span class="label label-info">There is no scheduled tasks.</span>
<% else %>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Upcoming tasks</th>
			<th>Course</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<% upcoming_tasks.each do |task| %>
		<tr>
			<td><%= task.name %></td>
			<td><%= link_to task.course.name, course_path(task.course) %></td>
			<td><%= task.start_date %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>
