<table class="table table-bordered">
	<thead>
		<tr>
			<th>Your courses (<%= current_user.courses.count %>)</th>
		</tr>
	</thead>
	<tbody>
		<% current_user.courses.each do |course| %>
		<tr>
			<td><%= link_to course.name, course %></td>
		</tr>
		<% end %>
	</tbody>
</table>