<div class="page-header">
	<h1>Dashboard <%= link_to "New Note", new_note_path, class: "btn pull-right" %></h1>
</div>

<div class="row">
	<div class="span4">
		<%= render partial: 'upcoming_tasks_table', locals: { upcoming_tasks: @upcoming_tasks } %>
		<%= render partial: 'user_notes_table', locals: { notes: @notes } %>
	</div>
	<div class="span2 pull-right">
		<%= render 'user_courses_table' %>
	</div>
</div>
