<table class="table table-bordered">
	<thead>
		<tr>
			<th>Task name</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<% @course.tasks.each do |task| %>
		<tr>
			<td><%= task.name %></td>
			<td><%= task.description %></td>
		</tr>
		<% end %>
	</tbody>
</table>