<table class="table table-bordered">
	<thead>
		<tr>
			<th>Recently Created</th>
		</tr>
	</thead>
	<tbody>
		<% @last_5_courses.each do |course| %>
		<tr>
			<td><%= link_to course.name, course %></td>
		</tr>
		<% end %>
	</tbody>
</table>