<div class="page-header">
	<h1>Explore Courses <%= link_to "New Course", new_course_path, class: "btn pull-right" %></h1>
</div>

<div clas="row">
	<div class="span2">
		<%= render "recently_created_courses_table" %>
	</div>
</div>